<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86254844206-5mcjne766kiqs82596qn8t6ub7bt06gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86254844206-5mcjne766kiqs82596qn8t6ub7bt06gr</string>
	<key>API_KEY</key>
	<string>AIzaSyAw6dn25781wyag1NHhEKE0XH1yWEUWuPc</string>
	<key>GCM_SENDER_ID</key>
	<string>86254844206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.detooo.recargas</string>
	<key>PROJECT_ID</key>
	<string>detooo-recargas</string>
	<key>STORAGE_BUCKET</key>
	<string>detooo-recargas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86254844206:ios:343511700c2df0ca5522bf</string>
</dict>
</plist>